RewriteEngine On

RewriteCond %{REQUEST_URI} !^/Front/src/
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_URI} !^/Back/src/
RewriteCond %{REQUEST_URI} !^/Back/doc/
RewriteCond %{REQUEST_URI} !^/api/doc/
RewriteRule ^(.*) /Front/src/$1 [L]

RewriteBase /
RewriteRule ^api/doc /Back/doc

RewriteRule ^api/v1/ /Back/src/Dispatcher.php
RewriteRule ^node_modules Front/src/node_modules
