#addArticleBtn {
    margin-left: 5px;
}

.navbar > div > ul > * {
    margin-left: 15px;
}

#deleteArticleBtn {
    float: right;
}

#paragraphs > div > p > .btn {
    float: right;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 8px;
}
